#titulo-nav{
    color: gainsboro;
    font-size: 32px;
}
#menu {
    font-family: 'Muli-BlackItalic';
    background-color:#A020F0;    
}
#menu a.active {
    color: white;
}

#page{
    padding: 10px;
    margin-top: 1%;
    border: 2px black solid;
    border-radius: 20px;
}

#root{
    border: 4px
}