<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- css's -->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <title>Mimha home</title>
</head>

<body>

  <div id="menu">
    <nav class="navbar navbar-expand-lg navbar-light ">
      <a class="navbar-brand" id="titulo-nav" href="#" onclick="homePage()">Sheilojas</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/users" onclick="">Inicio</a>
          <a class="nav-item nav-link" href="/#/Features" onclick="featureTeste()">Features</a>
          <a class="nav-item nav-link" href="/#/Pricing" onclick="homePage()">Pricing</a>
          <a class="nav-item nav-link" href="/#/Pricing" onclick="homePage()">Contatos</a>
          <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
        </div>
      </div>
    </nav>
  </div>

  <div class="container" >
  <!-- aqui será injetado o conteudo da minha pagina -->
    <div id='page'>
      <span id="root"></span>
    </div>
    
  </div>

  <!-- <div class="jumbotron hide">roda pé</div> -->

  </div>

  <!-- scripts -->
  <script src="../static/js/query.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js//index.js"></script>
</body>

</html>